spring:

  datasource:
    url: jdbc:h2:mem:clientesdb;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always
      encoding: UTF-8

server:
  port: 8080